@import "colors.css";

* {
  border:        none;
  border-radius: 0;
  font-family:  "DepartureMono Nerd Font","Adwaita Sans", "Inter Variable", BlinkMacSystemFont, sans-serif;
  font-weight:   700;
  font-size:     1rem;
  /* text-shadow:   0px 1.5px 3px #202020; */
  box-shadow:    none;
  transition-duration: 0s;
  color: @on_background; /*default text color*/
	margin: 0 5px; /*default margin between blocks*/
}

window {
  background: @background;
  /* background: rgba(0, 0, 0, 0.1); */
	/*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));*/
}

#workspaces {
  margin: 0px 10px 0px 10px;
}

#workspaces button {
  padding: 0px 0px;
	/* color: #f4f4f4; */
  background-color: @tetriaty;
  border-radius: 5px;
}

#workspaces button label{
	color: #a0a0a0;
	font-weight:   500;
}

#workspaces button.visible label{
	color: #ffffff;
	font-weight:   800;
}

#workspaces button.active label{
	color: @surface_dim; 
	font-weight:   800;
}

#workspaces button.active {
  padding: 0 0px;
	/* color: #f4f4f4; */
  background-color: @on_error;
}

#workspaces button.urgent {
  color: #ea6962;
}
#waybar{
  border-bottom: 1px solid @outline_variant; /*zamienić na rodzaj czerwonego*/
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #language {
  /*margin:     0px 6px 0px 10px;*/
	/* margin: 0 10px; */
  min-width:  25px;
}

#clock {
  /* min-width:  140px; */
  border: solid 3px @on_error;
  background-color: @on_error;
  border-radius: 100px;
  padding: 0px 5px;
  margin-bottom: 1px;
}

#tray menu * {
  color: #000000;
}
#backlight-slider{
  background-color: @background;
  padding: 1px;
  border-bottom: 1px solid @outline_variant;
  margin-right: 0px;
  border-left: 0px 
}
#backlight-slider slider {
min-height: 0px;
min-width: 0px;
opacity: 0;
background-color: @background;
border: none;
box-shadow: none;
color: red;
}
#backlight-slider trough {
min-height: 10px;
min-width: 80px;
border-radius: 10px;
background-color: @background;
}
#backlight-slider highlight {
border-radius: 5px;
background-color: @on_error;
border: solid 5px @on_error;
}
#tooltip{
  background: @background;
  color: @on_background
}
menu {
    border-radius: 15px;
    background: @background;
    color: #B5E8E0;
}
menuitem {
    border-radius: 15px;
}
